<p id="notice"><%= notice %></p>

<% @notices.each do |notice| %>
  <div class="notice well">
    <%= notice.attributes %>
    <div class="row">
        <h1 class="title"><%= notice.title%></h1>
        <hr class="yellow">
      <div class="col-md-6">
        <div class="well">
          <%= notice.description%>

        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
<% end %>
<br>
